@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    @*<link href="~/HomeAsset/css/bootstrap.css" rel="stylesheet" />
        <link href="~/HomeAsset/css/mdb.css" rel="stylesheet" />
        <link href="~/HomeAsset/css/style.css" rel="stylesheet" />*@
    <link href="~/AdminAsset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminAsset/css/mdb.min.css" rel="stylesheet" />
    <link href="~/AdminAsset/css/style.css" rel="stylesheet" />
    <link href="~/HomeAsset/font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("css", false)
</head>
<body>
    <header>
        <div class="container-fluid" id="header">
            <div class="row hidden-md-down">
                <div class="col-lg-12 bg-white px-5 mb-1 py-1 grey lighten-4">
                    <div class="d-flex justify-content-end">
                        <div class="mr-auto py-0">
                            @*<!--Facebook-->
                                <a href="https://www.facebook.com/caohieuchamcom/" target="_blank" class="icons-sm fb-ic ml-4 py-0" data-toggle="tooltip" data-placement="bottom" title="Chúng tôi trên facebook"> <i class="fa fa-facebook"> </i></a>
                                <!--Twitter-->
                                <a href="https://twitter.com/intent/tweet?text=https://caohieu.com/" target="_blank" class="icons-sm tw-ic ml-4 py-0" data-toggle="tooltip" data-placement="bottom" title="Chúng tôi trên twitter"><i class="fa fa-twitter"> </i></a>
                                <!--Google +-->
                                <a href="" class="icons-sm gplus-ic ml-4 py-0" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Chúng tôi trên google+"><i class="fa fa-google-plus"> </i></a>

                                <!--Instagram-->
                                <a href="https://www.instagram.com/lehieubt3/" target="_blank" class="icons-sm ins-ic ml-4 py-0" data-toggle="tooltip" data-placement="bottom" title="Chúng tôi trên instagram"><i class="fa fa-instagram"> </i></a>*@
                            <span class="teal-text"><i class="fa fa-calendar"></i>&nbsp;@DateTime.Now.ToString("dddd, dd/MM/yyyy", CultureInfo.CreateSpecificCulture("vi-VN"))</span>
                        </div>
                        <div class="pl-1 py-0 black-text">
                            <a class="nav-link py-0 teal-text" href="@Url.Action("Partner","Home")"><i class="fa fa-handshake-o"></i>Đối tác</a>

                        </div>
                        <div class="pl-1 py-0">
                            <a class="nav-link py-0 teal-text" href="#"><i class="fa fa-share-square-o"></i>Giới thiệu</a>
                        </div>
                        <div class="pl-1 py-0">
                            <a class="nav-link py-0 teal-text" href="#"><i class="fa fa-phone"></i>Liên hệ</a>
                        </div>
                        <div class="pl-1 pr-3 py-0">
                            <a class="nav-link py-0 teal-text" href="#" data-toggle="modal" data-target="#basicExample"><i class="fa fa-thumbs-o-up"></i>Đóng góp</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Navbar-->

            <div class="mb-5">

            </div>
            <div class="mb-5">

            </div>
            <nav class="navbar navbar-expand-lg hidden-md-down navbar-light white black-text py-0  px-lg-5 px-xl-5 px-md-5 px-sm-0" id="nav-fix-top" style="font-weight:400;">

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">Navbar</a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenuContent" aria-controls="navbarMenuContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarMenuContent">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active ml-1">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>

                        <!-- Dropdown -->
                        <li class="nav-item dropdown ml-1">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-primary p-1" aria-labelledby="navbarDropdownMenuLink" style="font-weight:400!important">
                                <a class="dropdown-item p-1" href="#">Action</a>
                                <a class="dropdown-item p-1" href="#">Another action</a>
                                <a class="dropdown-item p-1" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>
                    <!-- Links -->
                    <!-- Search form -->
                    <form class="form-inline waves-effect waves-dark hidden-md-down ">
                        @*<div class="sm-form  input-group">*@
                        <i class="fa fa-search prefix red-text"></i>
                        @*<span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button">Hate it</button>
                            </span>*@
                        <input class="form-control" type="text" placeholder="Tìm kiếm bài viết..." aria-label="Search">
                        @*<span class="input-group-btn">
                                <button class="btn btn-primary btn-sm" type="button">Tìm kiếm</button>
                            </span>*@
                        @*</div>*@

                        @*<button class="btn btn-outline-primary btn-sm my-0 waves-effect" type="submit"><i class="fa fa-search"></i></button>*@
                    </form>



                </div>
                <!-- Collapsible content -->

            </nav>

            <nav class="navbar navbar-expand-md navbar-dark double-nav red darken-2 fixed-top hidden-lg hidden-md p-0">

                <!-- SideNav slide-out button -->
                <div class="float-right">
                    <a href="#" data-activates="slide-out" class="button-collapse">
                        <i class="fa fa-bars"></i> &nbsp;DANH MỤC
                    </a>
                </div>
            </nav>
            <div id="slide-out" class="side-nav  fixed blue-gradient darken-2  hidden-lg hidden-md" style="transform: translateX(-100%);">
                <ul class="custom-scrollbar list-unstyled scrollbar scrollbar-danger">
                    <!-- Logo -->
                    <li class="logo-sn waves-effect">
                        <div class="text-center">
                            <a href="#" class="pl-0">
                                <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="">
                            </a>
                        </div>
                    </li>
                    <!--/. Logo -->
                    <!--Search Form-->
                    <li>
                        <form class="search-form" role="search">
                            <div class="form-group waves-light waves-effect waves-light">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </li>
                    <!--/.Search Form-->
                    <!-- Side navigation links -->
                    <li>
                        <ul class="collapsible collapsible-accordion">
                            <li class="">
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fa fa-chevron-right"></i> Submit blog
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body" style="display: none;">
                                    <ul>
                                        <li>
                                            <a href="#" class="waves-effect">Submit listing</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Registration form</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="">
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fa fa-hand-pointer-o"></i> Instruction
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body" style="display: none;">
                                    <ul>
                                        <li>
                                            <a href="#" class="waves-effect">For bloggers</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">For authors</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fa fa-eye"></i> About
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="#" class="waves-effect">Introduction</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Monthly meetings</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fa fa-envelope-o"></i> Contact me
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--/. Side navigation links -->
                </ul>

                <!-- Mask -->
                <div class="sidenav-bg mask-strong"></div>

            </div>
            <!--/.Navbar-->
        </div>
    </header>


    <div class="container-fluid " id="main-content" >
        @*<div class="col-xl-12 my-2 ">

                <div class="font-up ">


                    <ol class="breadcrumb py-0">
                        <li class="breadcrumb-item active"><a class="black-text" href="#">Home</a><i class="fa fa-angle-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item active"><a class="black-text" href="#">Library</a><i class="fa fa-angle-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item ">Data</li>
                    </ol>


                </div>
            </div>*@
        <div class="row mt-3 " id="">
            @RenderBody()

            <div class="col-xl-3 px-1 SideBar " id="" >
                @*id="scroller-anchor"*@
            <div class="row theiaStickySidebar">
                @*id="scroller"*@
                <div class="col-xl-12 mb-2">
                    <ul class="nav nav-tabs nav-justified pb-1 pt-0 px-0 blue">
                        <li class="nav-item  waves-effect waves-dark m-0">
                            <a class="nav-link active p-1 white darken-1" data-toggle="tab" href="#panelHot" role="tab">
                                <h5 class="blue-text section-heading h5 m-0">
                                    <i class="fa fa-eye"></i>&nbsp; Xem nhiều nhất
                                </h5>
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content card px-1">
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">

                            <section class="section extra-margins pb-3 text-center text-lg-left">

                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                        <!--Featured image-->
                                        <div class="view overlay hm-white-slight">
                                            @*<img src="~/Images/3-35-324x235.png" />*@
                                            <img src="~/Images/3-35-324x235.png" class="img-fluid" alt="First sample image">
                                            <a href="#">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                        <div class="d-flex w-100 justify-content-between">
                                            <small class="text-muted red-text"><strong>Sức khỏe</strong></small>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                        </div>
                                        <a href="#" class="text-dark"> <h6 class="mb-2"><strong>Bộ tranh tình yêu hạnh phúc khiến dân FA gato “chết đi được”</strong></h6></a>
                                        <div class="d-flex flex-row-reverse">
                                            <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                            <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                        </div>


                                    </div>
                                    <!--Grid column-->

                                </div>


                                <hr class="mx-1 mb-1 mt-0">


                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                        <!--Featured image-->
                                        <div class="view overlay hm-white-slight">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                            <a href="#">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                        <div class="d-flex w-100 justify-content-between">
                                            <small class="text-muted red-text">Sức khỏe</small>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                        </div>
                                        <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                        <div class="d-flex flex-row-reverse">
                                            <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                            <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                        </div>


                                    </div>
                                    <!--Grid column-->

                                </div>


                                <hr class="mx-1 mb-1 mt-0">
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                        <!--Featured image-->
                                        <div class="view overlay hm-white-slight">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                            <a href="#">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                        <div class="d-flex w-100 justify-content-between">
                                            <small class="text-muted red-text">Sức khỏe</small>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                        </div>
                                        <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                        <div class="d-flex flex-row-reverse">
                                            <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                            <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                        </div>


                                    </div>
                                    <!--Grid column-->

                                </div>


                                <hr class="mx-1 mb-1 mt-0">
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                        <!--Featured image-->
                                        <div class="view overlay hm-white-slight ">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                            <a href="#">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                        <div class="d-flex w-100 justify-content-between">
                                            <small class="text-muted red-text">Sức khỏe1</small>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                        </div>
                                        <a href="#" class="text-dark "> <h6 class="mb-3 MyTitle"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                        <div class="d-flex flex-row-reverse">
                                            <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                            <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                        </div>


                                    </div>
                                    <!--Grid column-->

                                </div>


                                <hr class="mx-1 mb-1 mt-0">
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                        <!--Featured image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                            <a href="#">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                        <div class="d-flex w-100 justify-content-between">
                                            <small class="text-muted red-text">Sức khỏe</small>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                        </div>
                                        <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                        <div class="d-flex flex-row-reverse">
                                            <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                            <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                        </div>


                                    </div>
                                    <!--Grid column-->

                                </div>


                                <hr class="mx-1 mb-1 mt-0">
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                        <!--Featured image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                            <a href="#">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                        <div class="d-flex w-100 justify-content-between">
                                            <small class="text-muted red-text">Sức khỏe</small>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                        </div>
                                        <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                        <div class="d-flex flex-row-reverse">
                                            <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                            <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                            <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                        </div>


                                    </div>
                                    <!--Grid column-->

                                </div>







                            </section>
                        </div>
                        <!--/.Panel 1-->

                    </div>
                </div>
                <div class="col-xl-12 mb-2">
                    <ul class="nav nav-tabs nav-justified pb-1 pt-0 px-0 blue">
                        <li class="nav-item  waves-effect waves-dark m-0">
                            <a class="nav-link active p-1 white darken-1" data-toggle="tab" href="#panelSocial" role="tab">
                                <h5 class="blue-text section-heading h5 m-0">

                                    <i class="fa fa-users "></i>&nbsp; Mạng xã hội


                                </h5>
                            </a>
                            
                        </li>

                    </ul>

                    <div class="tab-content card px-1">

                        <div class="tab-pane fade in show active " id="panelSocial" role="tabpanel">
                            <div class="text-center">
                                <!--Facebook-->
                                <button type="button" class="btn btn-fb btn-lg" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </button>
                                <span class="counter">22</span>

                                <!--Google +-->
                                <button type="button" class="btn btn-gplus btn-lg" data-toggle="tooltip" data-placement="bottom" title="Google plus">
                                    <i class="fa fa-google-plus"></i>
                                </button>
                                <span class="counter">22</span>

                                <!--Instagram-->
                                <button type="button" class="btn btn-ins btn-lg" data-toggle="tooltip" data-placement="bottom" title="Intagram">
                                    <i class="fa fa-instagram"></i>
                                </button>
                                <span class="counter">22</span>

                                <!--Youtube-->
                                <button type="button" class="btn btn-yt btn-lg" data-toggle="tooltip" data-placement="bottom" title="Youtube">
                                    <i class="fa fa-youtube"></i>
                                </button>
                                <span class="counter">22</span>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-xl-12 mb-2">
                    <ul class="nav nav-tabs nav-justified pb-1 pt-0 px-0 blue">
                        <li class="nav-item  waves-effect waves-dark m-0">
                            <a class="nav-link active p-1 white darken-1" data-toggle="tab" href="#panelSocial" role="tab">
                                <h5 class="blue-text section-heading h5 m-0">

                                    <i class="fa fa-comments"></i>&nbsp;Top bình luận


                                </h5>
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content card px-1">

                        <div class="tab-pane fade in show active " id="panelSocial" role="tabpanel">
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12 text-left">

                                    <!-- Stepers Wrapper -->
                                    <ul class="stepper stepper-vertical px-0 text-left">

                                        <!-- First Step -->
                                        <li class="completed card mb-1 p-1">
                                            <a href="#!" class="p-0">
                                                <span class="circle">1</span>
                                                <span class="label "><i class="fa fa-user-circle text-danger"></i>&nbsp;Tên tài khoản</span>
                                            </a>
                                            <div class="step-content p-0">
                                                <a href="#" class="p-0">homedy trong Khi Đa Cấp thành Thánh trong sân chơi Tài Chính</a>
                                            </div>
                                        </li>

                                        <!-- Second Step -->
                                        <li class="completed card mb-1 p-1">
                                            <a href="#!" class="p-0">
                                                <span class="circle">2</span>
                                                <span class="label "><i class="fa fa-user-circle text-danger"></i>&nbsp;Tên tài khoản</span>
                                            </a>
                                            <div class="step-content p-0">
                                                <a href="#" class="p-0">homedy trong Khi Đa Cấp thành Thánh trong sân chơi Tài Chính</a>
                                            </div>
                                        </li>

                                        <!-- Third Step -->
                                        <li class="completed card mb-1 p-1">
                                            <a href="#!" class="p-0">
                                                <span class="circle">3</span>
                                                <span class="label "><i class="fa fa-user-circle text-danger"></i>&nbsp;Tên tài khoản</span>
                                            </a>
                                            <div class="step-content p-0">
                                                <a href="#" class="p-0">homedy trong Khi Đa Cấp thành Thánh trong sân chơi Tài Chính</a>
                                            </div>
                                        </li>

                                        <!-- Fourth Step -->
                                        <li class="completed card mb-1 p-1">
                                            <a href="#!" class="p-0">
                                                <span class="circle">4</span>
                                                <span class="label "><i class="fa fa-user-circle text-danger"></i>&nbsp;Tên tài khoản</span>
                                            </a>
                                            <div class="step-content p-0">
                                                <a href="#" class="p-0">homedy trong Khi Đa Cấp thành Thánh trong sân chơi Tài Chính</a>
                                            </div>
                                        </li>
                                        <li class="completed card mb-1 p-1">
                                            <a href="#!" class="p-0">
                                                <span class="circle">5</span>
                                                <span class="label "><i class="fa fa-user-circle text-danger"></i>&nbsp;Tên tài khoản</span>
                                            </a>
                                            <div class="step-content p-0">
                                                <a href="#" class="p-0">homedy trong Khi Đa Cấp thành Thánh trong sân chơi Tài Chính</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- /.Stepers Wrapper -->

                                </div>
                                <!--Grid column-->

                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr />

</div>
<!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark" id="footermain">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="title mb-4 mt-3 font-bold">Footer Content</h5>
                <p>
                    Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.
                </p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold ">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>





    <!--Social buttons-->
    <div class="social-section text-center">
        <ul>

            <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>

        </ul>
    </div>
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
@*<script src="~/HomeAsset/js/jquery-3.2.1.js"></script>

    <script src="~/HomeAsset/js/jquery-3.2.1.js"></script>
    @*<script src="~/HomeAsset/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/HomeAsset/js/popper.min.js"></script>
    <script src="~/HomeAsset/js/bootstrap.js"></script>
    <script src="~/HomeAsset/js/mdb.js"></script>
    <script src="~/HomeAsset/js/ResizeSensor.js"></script>
*@
<script src="~/AdminAsset/js/jquery-3.2.1.min.js"></script>
<script src="~/HomeAsset/js/ResizeSensor.js"></script>
<script src="~/HomeAsset/js/theia-sticky-sidebar.js"></script>

<script src="~/AdminAsset/js/popper.min.js"></script>
<script src="~/AdminAsset/js/bootstrap.min.js"></script>
<script src="~/AdminAsset/js/mdb.min.js"></script>
<script src="~/AdminAsset/js/Myscript.js"></script>

@*<script src="~/HomeAsset/js/Myscript.js"></script>*@

<script>
    $(document).ready(function () {
        $('.MainContent, .SideBar').theiaStickySidebar({
            // Settings
            additionalMarginTop: 45
        });
    });
    //var elements = $('.sticky');
    //Stickyfill.add(elements);
    //var length = $('#left').height() - $('#sidebar').height() + $('#left').offset().top;

    //$(window).scroll(function () {

    //    var scroll = $(this).scrollTop();
    //    var height = $('#sidebar').height() + 'px';

    //    if (scroll < $('#left').offset().top) {

    //        $('#sidebar').css({
    //            'position': 'absolute',
    //            'top': '0'
    //        });

    //    } else if (scroll > length) {

    //        $('#sidebar').css({
    //            'position': 'absolute',
    //            'bottom': '0',
    //            'top': 'auto'
    //        });

    //    } else {

    //        $('#sidebar').css({
    //            'position': 'fixed',
    //            'top': '0',
    //            'height': height
    //        });
    //    }
    //});

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        //$(".leftSidebar").stick_in_parent();

        //var elements = $('.leftSidebar');
        //Stickyfill.add(elements);
        //var sidebar = document.getElementById('sidebar');
        //Stickyfill.add(sidebar);
        //$('.leftSidebar').stickyfloat({ duration: 400 });
        $(".button-collapse").sideNav();
        //moveScroller();

    });

</script>

@RenderSection("js", false)
</body>
</html>