@using BlogHealth.Models
@model List<PostCate>
@{
    ViewBag.Title = "Trang chủ";
}
@section css{
<style>
   
    </style>
}

    <div class="col-xl-3 px-1 hidden-sm-down MainContent " id="">
        @*<h4 class="text-success section-heading h4">Bài viết nổi bật</h4>*@
        <div class="row">
            <div class="col-xl-12 mb-1 ">   
                <ul class="nav nav-tabs nav-justified pb-1 pt-0 px-0 blue">
                    <li class="nav-item  waves-effect waves-dark m-0">
                        <a class="nav-link active p-1 white darken-1" data-toggle="tab" href="#panelHot" role="tab">
                            <h5 class="blue-text section-heading h5 m-0">
                                <i class="fa fa-arrow-up"></i>&nbsp; Nổi bật
                            </h5>
                        </a>
                    </li>

                </ul>
                <div class="tab-content card px-1 rounded-top">
                    <!--Panel 1-->
                    <div class="tab-pane fade in show active" id="panelHot" role="tabpanel">
                        <section class="section extra-margins pb-3 text-center text-lg-left">

                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-lg-1 pr-md-1 px-sm-5">
                                    <!--Featured image-->
                                    <div class="view overlay hm-white-slight z-depth-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">
                                    
                                    <div class="d-flex w-100 justify-content-between">
                                        <small class="text-muted red-text">Sức khỏe</small>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                    </div>
                                    <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                    <div class="d-flex flex-row-reverse">
                                        <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                        <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                    </div>


                                </div>
                                <!--Grid column-->

                            </div>


                            <hr class="mx-1 mb-1 mt-0">


                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                    <!--Featured image-->
                                    <div class="view overlay hm-white-slight z-depth-1-half">
                                        <img src="/Images/Postsimages/Posts/Trends_medium.jpg" class="img-fluid" alt="First sample image">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                    <div class="d-flex w-100 justify-content-between">
                                        <small class="text-muted red-text">Sức khỏe</small>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                    </div>
                                    <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                    <div class="d-flex flex-row-reverse">
                                        <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                        <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                    </div>


                                </div>
                                <!--Grid column-->

                            </div>


                            <hr class="mx-1 mb-1 mt-0">

                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                    <!--Featured image-->
                                    <div class="view overlay hm-white-slight z-depth-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                    <div class="d-flex w-100 justify-content-between">
                                        <small class="text-muted red-text">Sức khỏe</small>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                    </div>
                                    <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                    <div class="d-flex flex-row-reverse">
                                        <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                        <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                    </div>


                                </div>
                                <!--Grid column-->

                            </div>


                            <hr class="mx-1 mb-1 mt-0">

                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                    <!--Featured image-->
                                    <div class="view overlay hm-white-slight z-depth-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                    <div class="d-flex w-100 justify-content-between">
                                        <small class="text-muted red-text">Sức khỏe</small>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                    </div>
                                    <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                    <div class="d-flex flex-row-reverse">
                                        <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                        <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                    </div>


                                </div>
                                <!--Grid column-->

                            </div>


                            <hr class="mx-1 mb-1 mt-0">

                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                    <!--Featured image-->
                                    <div class="view overlay hm-white-slight z-depth-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                    <div class="d-flex w-100 justify-content-between">
                                        <small class="text-muted red-text">Sức khỏe</small>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                    </div>
                                    <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                    <div class="d-flex flex-row-reverse">
                                        <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                        <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                        <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                    </div>


                                </div>
                                <!--Grid column-->

                            </div>


                            



                        </section>

                    </div>
                    <!--/.Panel 1-->

                </div>
            </div>
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12">

                        <!-- Card -->
                        <div class="card card-image mb-3 view rounded" style="background-image: url('../../Images/hv.jpg');">

                            <!-- Content -->
                            <div class="text-white  rgba-black-strong pt-3">
                                <div class="col-xl-12 mb-r">

                                        <div class="card-body">
                                            <h4 class="text-white section-heading h4 ">
                                                <i class="fa fa-heart-o"></i>&nbsp; Đăng ký nhận tin tức mới nhất
                                            </h4>
                                            <!--Body-->
                                            <div class="md-form text-white">
                                                <i class="fa fa-user prefix "></i>
                                                <input type="text" id="orangeForm-name" class="form-control text-white">
                                                <label for="orangeForm-name" class="">Tên của bạn</label>
                                            </div>
                                            <div class="md-form text-white">
                                                <i class="fa fa-envelope prefix "></i>
                                                <input type="text" id="orangeForm-email" class="form-control text-white">
                                                <label for="orangeForm-email">Email của bạn</label>
                                            </div>


                                            <div class="text-center">
                                                <button class="btn btn-deep-orange waves-effect waves-light">Đăng ký <i class="fa fa-paper-plane-o"></i></button>
                                            </div>

                                        </div>
                                  
                                   

                                </div>
                            </div>
                            <!-- Content -->
                        </div>
                        <!-- Card -->

                    </div>

                    
                </div>
            </div>
        </div>
      


    </div>
    <div class="col-xl-6 MainContent" id="MainContent">
        @*<h4 class="text-success section-heading h4">Bài viết</h4>*@
        <ul class="nav nav-tabs nav-justified pb-1 pt-0 px-0 blue">
            <li class="nav-item  waves-effect waves-dark m-0">
                <a class="nav-link active p-1 white darken-1" data-toggle="tab" href="#panelPosts" role="tab">
                    <h5 class="blue-text section-heading h5 m-0">
                       
                            <i class="fa fa-newspaper-o"></i>&nbsp; Bài viết
                        
                    </h5>
                </a>
            </li>

        </ul>
        <div class="tab-content px-1">
            <!--Panel 1-->
            <div class="tab-pane fade in show active " id="panelPosts" role="tabpanel">
                <div class="row">
                    <div class="col-xl-6 col-md-6 ">

                        <section class="section extra-margins text-center pb-3">

                            <!--Grid row-->
                            <div class="row">
                                    @{ 
                                        List<PostCate> Posts1 = Model.Take(Model.Count / 2).ToList();
                                        List<PostCate> Posts2 = Model.Skip(Model.Count / 2).Take(Model.Count / 2).ToList();
                                    }
                                    @foreach (var item in Posts1)
                                    {
                                        <div class="col-lg-12 col-md-12 white mb-2 mr-1 p-0 hm-white-slight z-depth-1-half overlay rounded">
                                            <!--Featured image-->
                                            <div class="view mb-2 rounded-top">
                                                <img src="~/HinhAnh/BaiViet/images/Thumbs/@(item.Slug)_large.jpg" class="img-fluid" alt="First sample image">
                                                <a href="@Url.Action("Post","Home",new { id=item.IDCate})">
                                                    <div class="mask"></div>
                                                </a>
                                            </div>
                                            <div class="p-1">
                                                <!--Excerpt-->
                                                <a href="@Url.Action("Post","Home",new { id=item.IDCate})"><h4 class="mb-1" >@item.Title</h4></a>
                                                @*<a href="" class="pink-text"><h6 class="my-1"><i class="fa fa-map "></i><strong> Adventure</strong></h6></a>*@
                                                <span class="text-muted @item.CateColor"><strong>@item.CateName</strong></span>
                                                <div class=" text-center">
                                                    @if (item.Update != null)
                                                    {
                                                        <small class="text-muted ml-2"><i class="fa fa-clock-o"></i>@item.Update.Value.ToString("dd/MM/yyyy, hh:mm")</small>
                                                    }
                                                    else
                                                    {
                                                        <small class="text-muted ml-2"><i class="fa fa-clock-o"></i>@item.CreateDate.Value.ToString("dd/MM/yyyy, hh:mm")</small>
                                                    }
                                                    @*<small class="text-muted ml-2"><i class="fa fa-clock-o"></i>@(item.CreateDate.HasValue==false?item.Update:item.CreateDate)</small>*@
                                                    @*<span class="text-muted ml-3"><i class="fa fa-comment-o"></i>100</span>
                                                        <span class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</span>
                                                        <span class="text-muted ml-2"><i class="fa fa-star" aria-hidden="true"></i>4</span>*@
                                                </div>

                                                <p>@item.ShortContent</p>
                                                <div class="card-footer d-flex w-100 justify-content-between px-1 py-1">
                                                    <span>
                                                        <small class="text-muted mr-1"><i class="fa fa-thumbs-o-up"></i>100</small>
                                                        <small class="text-muted mr-1"><i class="fa fa-share-alt"></i>100</small>
                                                        <small class="text-muted mr-1"><i class="fa fa-eye"></i>100</small>
                                                        <small class="text-muted "><i class="fa fa-comment-o"></i>100</small>
                                                    </span>
                                                    <span>
                                                        <a class="btn btn-pink btn-rounded btn-sm m-0">Đọc ngay</a>
                                                    </span>


                                                </div>
                                            </div>

                                        </div>
                                    }
                                
                                
                               

                            </div>
                            <!--Grid row-->

                        </section>



                    </div>
                    <div class="col-xl-6 col-md-6 ">
                        <section class="section extra-margins text-center pb-3">

                            <div class="row">
                               
                                    @foreach (var item in Posts2)
                                    {
                                        <div class="col-lg-12 col-md-12 white mb-2 ml-1 p-0 hm-white-slight z-depth-1-half overlay rounded">
                                            <!--Featured image-->
                                            <div class="view mb-2 rounded-top">
                                                <img src="~/HinhAnh/BaiViet/images/Thumbs/@(item.Slug)_large.jpg" class="img-fluid" alt="First sample image">
                                                <a>
                                                    <div class="mask"></div>
                                                </a>
                                            </div>
                                            <div class="p-1">
                                                <!--Excerpt-->
                                                <h4 class="mb-1">@item.Title</h4>
                                                @*<a href="" class="pink-text"><h6 class="my-1"><i class="fa fa-map "></i><strong> Adventure</strong></h6></a>*@
                                                <span class="text-muted @item.CateColor"><strong>@item.CateName</strong></span>
                                                <div class=" text-center">
                                                    @if (item.Update != null)
                                                    {
                                                        <small class="text-muted ml-2"><i class="fa fa-clock-o"></i>@item.Update.Value.ToString("dd/MM/yyyy, hh:mm")</small>
                                                    }
                                                    else
                                                    {
                                                        <small class="text-muted ml-2"><i class="fa fa-clock-o"></i>@item.CreateDate.Value.ToString("dd/MM/yyyy, hh:mm")</small>
                                                    }
                                                    @*<span class="text-muted ml-3"><i class="fa fa-comment-o"></i>100</span>
                                <span class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</span>
                                <span class="text-muted ml-2"><i class="fa fa-star" aria-hidden="true"></i>4</span>*@
                                                </div>

                                                <p>@item.ShortContent</p>
                                                <div class="card-footer d-flex w-100 justify-content-between px-1 py-1">
                                                    <span>
                                                        <small class="text-muted mr-1"><i class="fa fa-thumbs-o-up"></i>100</small>
                                                        <small class="text-muted mr-1"><i class="fa fa-share-alt"></i>100</small>
                                                        <small class="text-muted mr-1"><i class="fa fa-eye"></i>100</small>
                                                        <small class="text-muted "><i class="fa fa-comment-o"></i>100</small>
                                                    </span>
                                                    <span>
                                                        <a class="btn btn-pink btn-rounded btn-sm m-0">Đọc ngay</a>
                                                    </span>


                                                </div>
                                            </div>

                                        </div>
                                    }
                                



                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>




    </div>
    


@section js{
    <script>
       
    </script>
}