@using BlogHealth.Models
@model PostCate
@{
    ViewBag.Title = "Bài viết";
}
<div class="col-xl-3 px-1 hidden-sm-down MainContent " id="">
    @*<h4 class="text-success section-heading h4">Bài viết nổi bật</h4>*@
    <div class="row">
        <div class="col-xl-12 mb-1 ">
            <ul class="nav nav-tabs nav-justified pb-1 pt-0 px-0 blue">
                <li class="nav-item  waves-effect waves-dark m-0">
                    <a class="nav-link active p-1 white darken-1" data-toggle="tab" href="#panelHot" role="tab">
                        <h5 class="blue-text section-heading h5 m-0">
                            <i class="fa fa-arrow-up"></i>&nbsp; Nổi bật
                        </h5>
                    </a>
                </li>

            </ul>
            <!-- Tab panels -->
            <div class="tab-content card px-1 rounded-top">
                <!--Panel 1-->
                <div class="tab-pane fade in show active" id="panelHot" role="tabpanel">
                    <section class="section extra-margins pb-3 text-center text-lg-left">

                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-lg-1 pr-md-1 px-sm-5">
                                <!--Featured image-->
                                <div class="view overlay hm-white-slight z-depth-1-half">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                    <a href="#">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                <div class="d-flex w-100 justify-content-between">
                                    <small class="text-muted red-text">Sức khỏe</small>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                </div>
                                <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                <div class="d-flex flex-row-reverse">
                                    <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                    <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                </div>


                            </div>
                            <!--Grid column-->

                        </div>


                        <hr class="mx-1 mb-1 mt-0">


                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                <!--Featured image-->
                                <div class="view overlay hm-white-slight z-depth-1-half">
                                    <img src="/Images/Postsimages/Posts/Trends_medium.jpg" class="img-fluid" alt="First sample image">
                                    <a href="#">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                <div class="d-flex w-100 justify-content-between">
                                    <small class="text-muted red-text">Sức khỏe</small>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                </div>
                                <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                <div class="d-flex flex-row-reverse">
                                    <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                    <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                </div>


                            </div>
                            <!--Grid column-->

                        </div>


                        <hr class="mx-1 mb-1 mt-0">

                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                <!--Featured image-->
                                <div class="view overlay hm-white-slight z-depth-1-half">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                    <a href="#">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                <div class="d-flex w-100 justify-content-between">
                                    <small class="text-muted red-text">Sức khỏe</small>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                </div>
                                <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                <div class="d-flex flex-row-reverse">
                                    <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                    <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                </div>


                            </div>
                            <!--Grid column-->

                        </div>


                        <hr class="mx-1 mb-1 mt-0">

                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                <!--Featured image-->
                                <div class="view overlay hm-white-slight z-depth-1-half">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                    <a href="#">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                <div class="d-flex w-100 justify-content-between">
                                    <small class="text-muted red-text">Sức khỏe</small>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                </div>
                                <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                <div class="d-flex flex-row-reverse">
                                    <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                    <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                </div>


                            </div>
                            <!--Grid column-->

                        </div>


                        <hr class="mx-1 mb-1 mt-0">

                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-5 col-sm-12 col-xs-12 mb-1 pr-1">
                                <!--Featured image-->
                                <div class="view overlay hm-white-slight z-depth-1-half">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid" alt="First sample image">
                                    <a href="#">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-7 mb-1 pl-xl-0 pl-sm-5 ">

                                <div class="d-flex w-100 justify-content-between">
                                    <small class="text-muted red-text">Sức khỏe</small>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i>12:12 10/10</small>
                                </div>
                                <a href="#" class="text-dark"> <h6 class="mb-3"><strong>This is title of the news This is title of the news This is title of the news</strong></h6></a>
                                <div class="d-flex flex-row-reverse">
                                    <small class="text-muted ml-2"><i class="fa fa-comment-o"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</small>
                                    <small class="text-muted ml-2"><i class="fa fa-share-alt"></i>100</small>
                                    <small class="text-muted "><i class="fa fa-thumbs-o-up"></i>100</small>
                                </div>


                            </div>
                            <!--Grid column-->

                        </div>






                    </section>

                </div>
                <!--/.Panel 1-->

            </div>
        </div>
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12">

                    <!-- Card -->
                    <div class="card card-image mb-3 view rounded" style="background-image: url('../../Images/hv.jpg');">

                        <!-- Content -->
                        <div class="text-white  rgba-black-strong pt-3">
                            <div class="col-xl-12 mb-r">

                                <div class="card-body">
                                    <h4 class="text-white section-heading h4 ">
                                        <i class="fa fa-heart-o"></i>&nbsp; Đăng ký nhận tin tức mới nhất
                                    </h4>
                                    <!--Body-->
                                    <div class="md-form text-white">
                                        <i class="fa fa-user prefix "></i>
                                        <input type="text" id="orangeForm-name" class="form-control text-white">
                                        <label for="orangeForm-name" class="">Tên của bạn</label>
                                    </div>
                                    <div class="md-form text-white">
                                        <i class="fa fa-envelope prefix "></i>
                                        <input type="text" id="orangeForm-email" class="form-control text-white">
                                        <label for="orangeForm-email">Email của bạn</label>
                                    </div>


                                    <div class="text-center">
                                        <button class="btn btn-deep-orange waves-effect waves-light">Đăng ký <i class="fa fa-paper-plane-o"></i></button>
                                    </div>

                                </div>



                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Card -->

                </div>


            </div>
        </div>
    </div>



</div>

<div class="col-xl-6  pl-lg-4 pl-xl-4 pr-lg-2 pr-xl-2 MainContent" id="left" >
    <div class="card mb-2 theiaStickySidebar" >
        <div class="card-body">
            <div class="card-title text-danger text-center">
                <h2> @Model.Title</h2>

            </div>
            <div class="mb-2">
                @*<a type="button" class="btn-floating my-1 btn-fb waves-effect waves-light">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <span class="counter">22</span>
                    <button type="button" class="btn btn-fb waves-effect waves-light">
                        <i class="fa fa-facebook"> </i>
                    </button>*@
                <div class=" text-center">
                    <span class="@Model.CateColor"><strong>@Model.CateName</strong></span>
                </div>
                <div class=" text-center">
                    @if (Model.Update.HasValue)
                    {
                        <span class="text-muted ml-2"><i class="fa fa-clock-o"></i>@Model.Update.Value.ToString("hh:mm tt dd/MM/yyyy")</span>
                    }
                    else
                    {
                        <span class="text-muted ml-2"><i class="fa fa-clock-o"></i>@Model.CreateDate.Value.ToString("hh:mm tt dd/MM/yyyy ")</span>
                    }
                    @*<span class="text-muted ml-3"><i class="fa fa-comment-o"></i>100</span>
                    <span class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</span>
                    <span class="text-muted ml-2"><i class="fa fa-star" aria-hidden="true"></i>4</span>*@
                </div>
                <div class=" text-center mb-2">
                    <a class=" align-content-end btn-floating  btn-sm  btn-fb waves-effect waves-light m-0 p-0">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="align-content-end btn-floating btn-sm btn-gplus waves-effect waves-light m-0 p-0">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="align-content-end btn-floating btn-sm btn-tw waves-effect waves-light m-0 p-0">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>


            </div>
            <p class="my-2 font-weight-bold">
                @Model.ShortContent
            </p>
            <p class="px-lg-5 mb-2" style=" text-align: justify;text-justify: inter-word;">
                @Html.Raw( Model.Content)
                
            </p>
            <div class="">
                <i class="fa fa-tags fa-2x red-text"></i>
                @{ 
                    var tags = Model.Tags.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).ToList() ;

                }
                @foreach (var item in tags)
                {
                    <div class="chip mb-0 mr-1 black-text">
                        <a>@item</a>
                    </div>
                }

                <div class="my-2 text-right border border-danger border-top-0 border-bottom-0 border-left-0" style="border-width:3px!important">
                    
                        <h5 class="pr-3">
                            <i class="fa fa-eye-slash red-text"></i> Lượt xem <span class="badge red mr-5">100</span>
                            <i class="fa fa-thumbs-up red-text"></i>Lượt thích <span class="badge red">100</span>
                        </h5>

                  
                   

                </div>
                
                
                @*<div class="chip mb-0 mr-1">
                    <a>Tag1</a>
                </div>
                <div class="chip mb-0 mr-1">
                    <a>Tag1</a>
                </div>*@
            </div>





            <div class="col-md-12">
                <!--Modal: Register Form-->
                <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog cascading-modal" role="document">
                        <!--Content-->
                        <div class="modal-content">

                            <!--Header-->
                            <div class="modal-header light-blue darken-3 white-text">
                                <h4 class="title"><i class="fa fa-comment-o"></i> Thông tin người bình luận</h4>
                                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="form33" class="form-control">
                                    <label for="form33">Họ tên <small class="text-danger "> &nbsp;(bắt buộc)</small></label>
                                </div>
                                <div class="md-form form-sm">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form32" class="form-control">
                                    <label for="form32">Email<small class="text-danger ">&nbsp;(bắt buộc)</small></label>
                                </div>
                                <div class="md-form form-sm">
                                    <i class="fa fa-edge prefix"></i>
                                    <input type="text" id="form34" class="form-control">
                                    <label for="form34">Website</label>
                                </div>

                                <div class="text-center mt-2">
                                    <button class="btn btn-primary">Gửi bình luận<i class="fa fa-sign-in ml-1"></i></button>
                                </div>

                            </div>
                            <!--Footer-->
                            @*<div class="modal-footer">
                                    <div class="options text-center text-md-right mt-1">
                                        <p>Already have an account? <a href="#">Log In</a></p>
                                    </div>
                                    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                </div>*@
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: Register Form-->
                <section class="section text-center">



                    <!--Leave a reply form-->
                    <div class="reply-form mb-0">
                        <div class="divider-new  px-5 m-0">
                            <h2 class="h5-responsive"><strong>ĐỂ LẠI BÌNH LUẬN</strong></h2>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="px-2 py-0"> Đánh giá:</div>
                            <div class="px-2 py-0">
                                <i class="fa fa-star-o reviewRate " id="star1" data-pos="1" data-toggle="tooltip" data-placement="bottom" title="Dở tệ"></i>
                                <i class="fa fa-star-o reviewRate " id="star2" data-pos="2" data-toggle="tooltip" data-placement="bottom" title="Tạm được"></i>
                                <i class="fa fa-star-o reviewRate " id="star3" data-pos="3" data-toggle="tooltip" data-placement="bottom" title="Hay"></i>
                                <i class="fa fa-star-o reviewRate " id="star4" data-pos="4" data-toggle="tooltip" data-placement="bottom" title="Rất hay"></i>
                                <i class="fa fa-star-o reviewRate " id="star5" data-pos="5" data-toggle="tooltip" data-placement="bottom" title="Xuất sắc"></i>
                            </div>
                            @*<div class="px-2 py-0">
                                    <i class="fa " id="iconRate"></i> <strong><span class="" id="titleRate"></span></strong>
                                </div>*@

                        </div>



                        <h4 class="mb-0">

                            <span>
                                <!--Facebook-->
                                <button type="button" class="btn btn-fb waves-effect waves-light btn-md">
                                    <i class="fa fa-facebook left"></i> Chia sẻ Facebook
                                </button>
                                <!--Twitter-->
                                <button type="button" class="btn btn-tw waves-effect waves-light btn-md">
                                    <i class="fa fa-twitter left"></i> Chia sẻ Twitter
                                </button>
                                <!--Google +-->
                                <button type="button" class="btn btn-gplus waves-effect waves-light btn-md">
                                    <i class="fa fa-google-plus left"></i>Chia sẻ Google+
                                </button>
                            </span>
                            <br>

                        </h4>

                        <div class="row px-5 mb-0">

                            <div class="col-xl-12">
                                <div class="md-form mb-0">
                                    <i class="fa fa-pencil prefix blue-text"></i>
                                    <textarea type="text" id="replyForm-mess" class="md-textarea" placeholder="Bạn nghĩ gì về bài viết..."></textarea>
                                    @*<label for="replyForm-mess" class="">Bạn nghĩ gì về bài viết...</label>*@
                                    <button class="btn btn-primary waves-effect waves-light btn-md" data-toggle="modal" data-target="#modalRegister">Bình luận</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--/.Leave a reply form-->

                </section>
            </div>

        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class=" px-5 m-0">
                    <h2 class="h5-responsive"><strong><i class="fa fa-comments"></i>&nbsp; DANH SÁCH BÌNH LUẬN</strong></h2>
                    
                </div>

                <!--Newsfeed-->
                <div class="mdb-feed">
                    <!--First news-->
                    <div class="news">

                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">John Doe</a><div class="date"><i class="fa fa-clock-o"></i> 10:10AM 12/12/2017</div>
                            </div>
                            <div class="added-text" style="max-width:unset!important">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like blue-text"><span>Trả lời</span></a>
                                <a class="like blue-text ml-2"><i class="fa fa-thumbs-o-up pr-0"></i>9&nbsp;<span>Thích</span></a>
                            </div>
                        </div>

                        <!--Label-->

                    </div>
                    <!--First news-->
                    <!--Second news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Anna Smith</a> added<a> 2 new illustrations</a><div class="date">4 hours ago</div>
                            </div>
                            <!--Added images-->
                            <div class="added-images">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" class="z-depth-1">
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>18 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Second news-->
                    <!--Third news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Danny Moore</a> added you as a friend<div class="date">7 hours ago</div>
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>11 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Third news-->
                    <!--Fourth news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Lili Rose</a> posted on his page<div class="date">2 days ago</div>
                            </div>
                            <!--Added text-->
                            <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>7 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Fourth news-->
                    <!--Fifth news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Kate Harrison</a> added<a> 2 new photos</a> of you<div class="date">3 days ago</div>
                            </div>
                            <!--Added images-->
                            <div class="added-images">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg" class="z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(26).jpg" class="z-depth-1">
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>53 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Fifth news-->
                </div>
                <!--Newsfeed-->
            </div>
            <div class="col-lg-12">
                <section class="section magazine-section">
                    <div class="divider-new px-5 mx-0 my-2">
                        <h2 class="h5-responsive"><strong> <i class="fa fa-random"></i>&nbsp; CÓ THỂ BẠN QUAN TÂM</strong></h2>
                    </div>
                    <!--Grid row-->
                    <div class="row text-left">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12">
                            <!--Featured news-->
                            <div class="single-news ">

                                <!--Image-->
                                <div class="view overlay hm-white-slight z-depth-1-half mb-2">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(118).jpg" class="img-fluid" alt="Wider sample post image">
                                    <a>
                                        <div class="mask"></div>
                                    </a>
                                </div>

                                <!--Excerpt-->
                                <div class="news-data mb-5">
                                    <a href="" class="deep-orange-text"><h6><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                    <p><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                </div>

                                <h3 class="m-0"><a><strong>This is title of the news.This is title of the news.This is title of the news.</strong></a></h3>

                                <p align="justify">
                                    Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>

                            </div>
                            <!--/Featured news-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12">

                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3 px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(50).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9 ">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="mb-0" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->
                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3  px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->
                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3  px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->
                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3  px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(26).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
            </div>
        </div>


    </div>

</div>

